*{
box-sizing:border-box;
margin:0;
scroll-behavior:
smooth
}
@font-face{
font-family:IBM;
src:url(fonts/IBM.ttf)format("truetype");font-weight:400
}
body{
background-color:#282828;
overflow-x:hidden
}
body .about{
  background-image: url(/img/photos/cover.gif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed
}
/*MENU START*/
header{
background-color:#000;
height:3.5rem;
z-index:9999999999999999;
font-family:IBM;
display:flex;
align-items:center;
justify-content:center;
padding:0 2.5rem;
font-size:1.45rem;
position:absolute;
width:100%;
opacity:95%
}
.nav-bar{
justify-content:space-between;
display:flex;
align-items:center;
width:100%
}
a{
text-decoration:none;
color:#0070c9
}
.navbar-style{
color:#0070c9;
padding-top:6px
}
.logo-e{
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
margin-right:.8rem
}
.navbar-style:hover{
color:purple;
transition:all.3s ease-in-out
}
#nav-logo{
display:flex;
flex-direction:row
}
.nav-menu{display:flex;
justify-content:space-between;
margin-bottom:0
}
.nav-item{
list-style:none;
font-size:1rem;
display:flex;
justify-content:center;
margin-left:3rem
}
.hamburger{
display:none
}
.bar{
display:block;
width:1.5rem;
height:.1875rem;
margin:.3125rem auto;
-webkit-transition:all.3s ease-in-out;
transition:all.3s ease-in-out;
background-color:#0070c9
}
/*SCROLL STATUS START*/
.progress-container{
width:100%;
height:8px;
background:#ccc;
opacity:50%;
position:fixed;
top:0;
z-index:99999999
}
.progress-bar{
height:8px;
background:purple;
width:0%;z-index:9999999999
}
/*SCROLl STATUS END*/
/*MENU QUERRIES START*/
@media only screen and (max-width:900px){
  .nav-menu{position:fixed;
  left:100%;
  top:0;
  flex-direction:column;
  align-items:center;
  background-color:#000;
  width:100%;
  height:100%;
  text-align:center;
  transition:.3s;
  padding:0;
  display:flex;
  justify-content:center;
  padding-bottom:4.3rem
  }
  .nav-menu.active{
  left:0;z-index:99999;
  display:flex
  }
  .nav-item{
  padding:0;
  font-size:1.25rem;
  margin:1rem 0 1rem 0
  }
  .hamburger{
  display:block;
  cursor:pointer;
  z-index:999999
  }
  .hamburger.active
  .bar:nth-child(2){
  opacity:0
  }
  .hamburger.active
  .bar:nth-child(1){
  transform:translateY(8px)rotate(45deg)
  }
  .hamburger.active
  .bar:nth-child(3){
  transform:translateY(-8px)rotate(-45deg)
  }
}
@media only screen and (max-width:900px) and (orientation:landscape){
  .nav-menu{
  padding-top:4.3rem
  }
}
@media only screen and (max-width:420px){
  header{
  height:3.3rem
  }
}
/*MENU QUERRIES END*/
/*MENU END*/

/* MAIN START */
main{
display:flex;flex-direction:column;
align-items:center;
padding-top:6rem;
font-family:-apple-system,BlinkMacSystemFont,'SegoeUI',Roboto,Oxygen,Ubuntu,Cantarell,'OpenSans','HelveticaNeue',sans-serif
}
.wrapper, hr{
width:37.5rem
}
h1{
font-size:2.5rem;
font-weight:400;
color:#fff
}
h2{
font-size:1.5rem;
font-weight:400;
color:#fff
}
h3{
font-size:1.25rem;
font-weight:400;
color:#fff
}
.ul-content,p{
flex-direction:column;
font-size:1rem;
font-weight:300;color:#fff;
line-height:1.5;
padding-top:.5rem;
padding-bottom:.5rem
}
.tab-pane{
color:#fff
}
.list-group-item.active{
background-color:#0070c9;
border-color:#0070c9
}
main li{
padding:.3rem 0
}
.source{
font-size:.7rem
}
hr{
margin:3rem 0;
border:.1px solid;
color:grey;
opacity:60%;
}
img{
background-color:#fff;
border-radius:2px;
max-width:100%
}
.generator-center,.password-calculators-center,.tfa-center{
display:flex;
flex-direction:column;
align-items:center
}
/*PASSWORD GENERATOR START*/
.inputBox input::placeholder{
letter-spacing:0;font-size:.85rem
}
.success{
  display: flex;
  justify-content: center;
}
.inputBox input{
position:relative;
font-size:1rem;
height:2.2rem;
border:none;
margin:.3rem 0 0;
background:00;
outline:0;
padding:0.6rem;
letter-spacing:.25rem;
box-sizing:border-box;
color:#000;
background-color:#fff;
box-shadow:rgba(0,0,0,.24) 03px 8px
}
.fa-clone{
position:relative;
transition: transform .4s;
color:#000;
left:-30px
}
.fa-clone:hover{
transform:scale(1.3)
}
.inputBox #btn,.inputBox #btn:after,.inputBox input{
width:21rem
}
@media only screen and (max-width:415px){
  .inputBox input{
  font-size:.6rem
  }
  .inputBox #btn,.inputBox #btn:after,.inputBox input{
  width:15rem
  }
  .inputBox input::placeholder{
  font-size:0
  }
  .fa-clone:hover{
  transform:none
  }
}
/*BUTTON HOVER START*/
.inputBox #btn,.inputBox #btn:after{
height:rem;
line-height:1.5rem;
display:flex;
justify-content:center;
align-items:center;
font-size:1rem;
font-family:'BebasNeue',sans-serif;
background:linear-gradient(45deg,transparent 5%,purple 5%);
border:0;
color:#fff;
letter-spacing: 0.2rem;
outline:transparent;
position:relative;
user-select:none;
-webkit-user-select:none;
touch-action:manipulation
}
#btn{
cursor:pointer
}
.inputBox #btn:after{
--slice-0:inset(50%50%50%50%);
--slice-1:inset(80%-6px 0 0);
--slice-2:inset(50%-6px 30% 0);
--slice-3:inset(10%-6px 85% 0);
--slice-4:inset(40%-6px 43% 0);
--slice-5:inset(80%-6px 5% 0);
content:'ALTERNATE TEXT';
display:block;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background: linear-gradient(45deg,transparent 3%,#00e6f6 3%,#00e6f6 5%,#ff013c 5%);
text-shadow: -3px -3px 0 #f8f005,3px 3px 0 #00e6f6;
clip-path:var(--slice-0)
}
.inputBox #btn:hover:after{
animation:1s glitch;animation-timing-function:steps(2,end)
}
@keyframes glitch{0%{clip-path:var(--slice-1);
transform:translate(-20px,-10px)
}
10%{
clip-path:var(--slice-3);transform:translate(10px,10px)
}
20%{
clip-path:var(--slice-1);transform:translate(-10px,10px)
}
30%{
clip-path:var(--slice-3);
transform:translate(0,5px)
}
40%{
clip-path:var(--slice-2);
transform:translate(-5px,0)
}
50%{
clip-path:var(--slice-3);transform:translate(5px,0)
}
60%{
clip-path:var(--slice-4);transform:translate(5px,10px)
}
70%{
clip-path:var(--slice-2);
transform:translate(-10px,10px)
}
80%{
clip-path:var(--slice-5);
transform:translate(20px,-10px)
}
90%{
clip-path:var(--slice-1);
transform:translate(-10px,0)
}
100%{
clip-path:var(--slice-1);
transform:translate(0)
}
}
@media only screen and (max-width:415px){
  .inputBox #btn,.inputBox #btn:after{
  height:3rem;
  font-size:.8rem
  }
}
/*BUTTON HOVER END*/
/*GENERATE PASSWORD BUTTON END*/
/*PASSWORD CALCULATOR START*/
.password-calculator{
width:100%;
height:730px;
filter:saturate(0);
background-color:#0070c9;
border-radius:2px;
border:0
}
.password-calculator:hover{
filter:saturate(100%);
transition:all.3s ease-in-out
}
@media only screen and (max-width:415px){
  .password-calculator{
  filter:saturate(100%)
  }
}
/*PASSWORD CALCULATOR END*/
/*2FA START*/
.tfa-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
grid-gap:1rem
}
.tfaCode{
text-align:center
}
h1.tfa{
color:#0070c9;
font-size:2rem;
display:inline
}
@media only screen and (max-width:647px){
  h1.tfa{
  font-size:1.5rem;
  display:inline
  }
}
@media only screen and (max-width:460px){
  h1.tfa{
  font-size:.9rem;
  display:inline
  }
  .tfa-grid{
  grid-gap:10px
  }
}
/*2FA END*/
/*GO TO THE TOP BUTTON START*/
.gotopbtn{
position:fixed;
right:2rem;
bottom:2rem;
width:4rem;
height:4rem;
border-radius:50%;
opacity:30%;
text-align:center;
line-height:4rem;
text-decoration:none;
font-size:2rem;
color:#fff;
background-color:#000
}
.gotopbtn:hover{
opacity:70%;
transition:all.3s ease-in-out;
color:#fff
}
.footer1-wrapper{
width:9rem;
margin:0 auto
}
/*GO TO THE TOP BUTTON END*/
/* MAIN END */

/*FOOTER START*/
.footer-icons{
list-style:none;
display:flex;
justify-content:space-evenly;
padding:0;
margin-bottom:2rem
}
.fa-flickr,.fa-github,.fa-instagram,.fa-unity{
color:#fff
}
.fa-flickr:hover,.fa-github:hover,.fa-instagram:hover,.fa-unity:hover{
color:purple;
transition:all .3s ease-in-out
}
.footer2{
list-style:none;
display:flex;
justify-content:center;
color:#fff;
font-family:source-sans-pro,sans-serif;
opacity:30%
}
.cookies-margin{
margin-top:.5rem
}
h6{
font-size:1rem
}
.copyright{
font-size:1rem;
padding:0 .3rem 0 0;
transform:translateY(-.29rem)
}
.ecorp{
font-family:IBM;
font-size:.72rem;
margin-right:.3rem
}
@media only screen and (max-width:420px){
  .copyright{
  font-size:.7rem;
  padding:0 .3rem 0 0;
  transform:translateY(-.22rem)
  }
  .ecorp{
  font-size:.48rem;
  margin-right:.2rem
  }
}
/*FOOTER END*/
@media only screen and (max-width:667px){
  header{
  padding:01rem
  }
  main{
    padding:7.5rem 1.25rem 0 1.25rem
  }
  .wrapper, hr{
  max-width:100%
  }
  h1{
  font-size:1.9rem
  }
  h2{
  font-size:1.3rem
  }
  .gotopbtn{
  display:none
  }
}
@media only screen and (max-width:400px){
  h2{
  font-size:1.2rem
  }
}


/* WORKS START*/
.photos-grid-container{
  display:grid;
}
.single{
  grid-template-columns:repeat(1, 1fr)
}
.double{
  grid-template-columns:repeat(2, 1fr);
}
.triple{
  grid-template-columns:repeat(3, 1fr);

}
.photos-grid-container img{
    border-radius:0;
  }
.works{
    padding:1rem 0 0 0
  }
@media only screen and (max-width:667px){
  .works{
    padding:2rem 0 0 0
  }
}
/* WORKS END*/

/* CONTACT FORM START */

#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] {
  font:400 12px/16px apple-system,BlinkMacSystemFont,'SegoeUI',Roboto,Oxygen,Ubuntu,Cantarell,'OpenSans','HelveticaNeue',sans-serif;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:100%;
	background:#373737;
	margin:0 0 5px;
	padding:10px;
  border: none;
}
#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
  border: none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
  color: white;
	background: none;
  border: 2px solid white;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
  border-radius: 20px;
}

#contact button[type="submit"]:hover {
	background:#fff;
  color:#282828 ;
	transition:background 0.3s ease-in-out;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#contact input, textarea{
  color: #888;
}
/* CONTACT FORM END */
/* SUCCESS START */
.fa-circle-check, h1.success-text{
  color:#0070c9
}
.circle-check-center{
  display:flex;
  justify-content:center;
}
h1.success-text{
  font-size:1rem;
  font-weight:400;
  }
p.success-text{
 font-size: 0.9rem;
}
h1.success-text, p.success-text{
  text-align: center;
}
  .wrapper.narrow{
    width:21rem;
  }

#btn{
height:3.5rem;
}
/* SUCCESS START */
