/* GLOBAL DELCARATIONS START */
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  /* COLORS */
  --primary-color: #007ee3;
  --secondary-color: purple;
  --secondary-color-hover: #680068;
  --background-color: #282828;
  --white-color: #fff;
  --black-color: #000;

  /* FONTS */
  --fontsize-1: 0.8rem;
  --fontsize-2: 1rem;
  --fontsize-3: 1.2rem;
  --fontsize-4: 1.4rem;
  --fontsize-5: 1.6rem;
  --logo-font: IBM;
  --alt-logo-font: BigBlue;
  --text-color: #fff;
  --letter-spacing: 0.1rem;
  --heading-weight: 400;
  --paragraph-weight: 250;
  --content-font: -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Oxygen,
    Ubuntu, Cantarell, OpenSans, HelveticaNeue, sans-serif;

  --border-radius: 2px;
  --border-radius-2: 15px;
  --transition: all.3s ease-in-out;
  --menu-padding: 0 1rem;
}
@font-face {
  font-family: IBM;
  src: url(./IBM.ttf) format("truetype");
  font-weight: var(--heading-weight);
}
@font-face {
  font-family: BigBlue;
  src: url(Bigblue.ttf) format("truetype");
  font-weight: var(--heading-weight);
}
.skeleton {
  background-color: grey;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: #444343;
  }

  100% {
    background-color: hsl(210, 1%, 50%);
  }
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
}
body.noscroll {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--content-font);
  padding-top: 6rem;
}
h1,
h2,
h3,
h4,
h6 {
  font-weight: var(--heading-weight);
  color: var(--text-color);
  font-family: var(--content-font);
}
h1 {
  font-size: 2.5rem;
  margin-top: 10%;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
ol,
main li,
main ul,
p {
  flex-direction: column;
  font-size: var(--fontsize-2);
  font-weight: var(--paragraph-weight);
  color: var(--text-color);
  line-height: 1.5;
}
main ul {
  list-style-type: circle;
}
ol:nth-child(odd),
main li:nth-child(odd),
main ul:nth-child(odd) {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
ol:nth-child(even),
main li:nth-child(even),
main ul:nth-child(even) {
  padding-bottom: 0;
  padding-top: 0;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: var(--paragraph-weight);
}
img,
svg {
  vertical-align: middle;
}
img,
iframe {
  animation: skeleton-loading 1s linear infinite alternate;
  max-width: 100%;
  border-radius: var(--border-radius);
}
#chevron-right {
  fill: var(--primary-color);
  width: 0.5rem;
  padding-bottom: 1px;
}
.alt-alt {
  z-index: -9;
}
hr {
  border: 0.1px solid;
  color: grey;
  margin: 2rem 0;
  opacity: 60%;
}
#about article,
#cyber-security article,
#expo-in-kolding article,
hr,
#error img {
  width: 37.5rem;
  animation: none;
  max-width: 100%;
}
#error article,
#success article {
  width: 21rem;
}
.note {
  font-size: 0.7rem;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* nav menu start */
header {
  align-items: center;
  background-color: var(--black-color);
  display: flex;
  font-family: var(--logo-font);
  font-size: var(--fontsize-3);
  height: 5vh;
  justify-content: center;
  padding: 0 2.5rem;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-bar a {
  color: var(--primary-color);
  padding-top: 6px;
}
.nav-bar a:hover {
  opacity: 70%;
  transition: var(--transition);
}
.nav-bar a span {
  font-size: var(--fontsize-1);
  display: flex;
  flex-direction: row;
  z-index: 99;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.nav-item {
  display: flex;
  font-size: var(--fontsize-1);
  justify-content: center;
  list-style: none;
  margin-left: 3rem;
}
.hamburger {
  display: none;
}
span.bar {
  transition: var(--transition);
  background-color: var(--primary-color);
  display: block;
  height: 0.09rem;
  margin: 0.5rem auto;
  width: 1.3rem;
  border-radius: 20px;
}
/* nav menu end */

/* btn start */

.btn-area #btn,
.btn-area #btn:after {
  height: 56px;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontsize-2);
  background: var(--secondary-color);
  color: var(--text-color);
  letter-spacing: var(--letter-spacing);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: var(--heading-weight);
  border: solid 1.5px var(--primary-color);
}
#btn {
  cursor: pointer;
  border-radius: var(--border-radius-2);
}
#btn:hover {
  background: var(--secondary-color-hover);
  transition: var(--transition);
}
#btn:active {
  transform: translateY(5px);
}
#btn.clicked {
  box-shadow: 0 1px var(--primary-color);
}
.btn-shadow {
  height: 40px;
  background: var(--primary-color);
  position: relative;
  z-index: -99;
  top: -35px;
  border-radius: var(--border-radius-2);
}
.btn-area input::placeholder {
  text-align: center;
}
.btn-area #btn,
.btn-area #btn:after,
.btn-area input,
.btn-shadow {
  width: 320px;
}
.btn-area input {
  border-radius: var(--border-radius);
}
/* btn end */

/* progress container start */
.progress-container {
  position: fixed;
  top: 4.6vh;
  width: 100%;
  z-index: 9;
}
.progress-bar {
  background: var(--secondary-color);
  height: 0.4vh;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
/* progress container end */

/* footer start */
footer {
  padding: 35px 0 20px 0;
}
.social-icons {
  width: 150px;
  margin: 0 auto;
  padding: 0 0 10px 0;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
footer svg {
  fill: var(--white-color);
  text-shadow: var(--objects-shadow);
  width: 20px;
}
#sketchfab-2 {
  fill: var(--background-color);
}
#sketfab-1 {
  fill: var(--white-color);
}
footer svg:hover {
  transition: var(--transition);
  fill: var(--primary-color);
}
.footer-ps {
  list-style: none;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-family: var(--content-font);
  opacity: 30%;
  text-shadow: var(--objects-shadow);
}
footer .footer-ps p {
  font-size: var(--fontsize-1);
  font-weight: var(--paragraph-weight);
  text-shadow: none;
}
footer .footer-ps span:nth-child(1) {
  font-size: 11.2px;
  padding: 0 3px 0 0;
  transform: translateY(-3px);
}
footer .footer-ps span:nth-child(2) {
  font-family: var(--logo-font);
  font-size: 8.6px;
}
/* footer end */

/* GLOBAL END */

/* WORKS START */
#works main {
  padding-top: 0;
}
#works .intro-section {
  height: 100vh;
  background-image: url(/img/photos/cover-works.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#works .intro-sticky-subsection {
  text-align: center;
  position: sticky;
  top: 50vh;
}
#works h1 {
  font-size: 6rem;
  text-shadow: 3px 3px var(--text-color);
  animation: text-shadow-works 2s linear infinite alternate;
}
#works h1,
#works h2 {
  font-family: var(--alt-logo-font);
}
@keyframes text-shadow-works {
  0% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--primary-color);
  }
}
#works .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 400px);
  grid-gap: 10px;
  margin: 0 auto;
  padding: 10px;
}
.v-stretch {
  grid-row: span 1;
  grid-column: span 1;
}
.vv-stretch {
  grid-row: span 2;
  grid-column: span 1;
}
.h-stretch {
  grid-column: span 2;
}
.hh-stretch {
  grid-column: span 3;
}
.hhh-stretch {
  grid-column: span 4;
  grid-row: span 1;
}
#works .grid-container div img,
#works .grid-container div iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* WORKS END */

/* ABOUT START */
#about body {
  background-color: var(--black-color);
}
#about main {
  background-image: url(/img/photos/cover.gif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#about img.profile-pic {
  border-radius: 0 var(--border-radius);
}
#about img.partners {
  border-radius: var(--border-radius) 0;
}
/* language competences start */
#about .grid-container p {
  margin-bottom: 0.5rem;
}
#about .languages {
  transform: translateY(-2px);
  padding-left: 5px;
  height: 25px;
  animation: opacity-pulse-70 1s linear infinite alternate;
}
@keyframes opacity-pulse-70 {
  0% {
    opacity: 70%;
  }
  100% {
    opacity: 100%;
  }
}

/* skill bar start */
#about .skill-bar {
  height: 5px;
  padding: 0;
  border-radius: 20px;
  margin-bottom: 1rem;
  position: relative;
  top: -1px;
}
#about .skill-bar.faded {
  background-color: var(--background-color);
  width: 100%;
  height: 3px;
  margin-bottom: 1rem;
}
#about .skill-bar.level-10,
#about .skill-bar.level-9,
#about .skill-bar.level-8,
#about .skill-bar.level-7,
#about .skill-bar.level-6,
#about .skill-bar.level-5,
#about .skill-bar.level-4,
#about .skill-bar.level-3,
#about .skill-bar.level-2,
#about .skill-bar.level-1 {
  background-color: var(--primary-color);
  animation: opacity-pulse-30 1s linear infinite alternate;
  width: var(--start);
}
@keyframes opacity-pulse-30 {
  0% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
#about .skill-bar.level-10 {
  width: 100%;
}
#about .skill-bar.level-9 {
  width: 90%;
}
#about .skill-bar.level-8 {
  width: 80%;
}
#about .skill-bar.level-7 {
  width: 70%;
}
#about .skill-bar.level-6 {
  width: 60%;
}
#about .skill-bar.level-5 {
  width: 50%;
}
#about .skill-bar.level-4 {
  width: 40%;
}
#about .skill-bar.level-3 {
  width: 30%;
}
#about .skill-bar.level-2 {
  width: 20%;
}
#about .skill-bar.level-1 {
  width: 10%;
}
/* skill bar animation 
:root {
  --level-10: 100%;
  --level-9: 90%;
  --level-8: 80%;
  --level-7: 70%;
  --level-6: 60%;
  --level-5: 50%;
  --level-4: 40%;
  --level-3: 30%;
  --level-2: 20%;
  --level-1: 10%;
  --start: 0%;
}

.skill-bar.level.level-1.active {
  animation: level-1 0.2s linear alternate;
  width: var(--level-1);
}
@keyframes level-1 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-1);
  }
}
.skill-bar.level.level-2.active {
  animation: level-2 0.2s linear alternate;
  width: var(--level-2);
}
@keyframes level-2 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-2);
  }
}
.skill-bar.level.level-3.active {
  animation: level-3 0.2s linear alternate;
  width: var(--level-3);
}
@keyframes level-3 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-3);
  }
}
.skill-bar.level.level-4.active {
  animation: level-4 0.2s linear alternate;
  width: var(--level-4);
}
@keyframes level-4 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-4);
  }
}
.skill-bar.level.level-5.active {
  animation: level-5 0.2s linear alternate;
  width: var(--level-5);
}
@keyframes level-5 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-5);
  }
}
.skill-bar.level.level-6.active {
  animation: level-6 0.2s linear alternate;
  width: var(--level-6);
}
@keyframes level-6 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-6);
  }
}
.skill-bar.level.level-7.active {
  animation: level-7 0.2s linear alternate;
  width: var(--level-7);
}
@keyframes level-7 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-7);
  }
}
.skill-bar.level.level-8.active {
  animation: level-8 0.2s linear alternate;
  width: var(--level-8);
}
@keyframes level-8 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-8);
  }
}
.skill-bar.level.level-9.active {
  animation: level-9 0.2s linear alternate;
  width: var(--level-9);
}
@keyframes level-9 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-9);
  }
}
.skill-bar.level.level-10.active {
  animation: level-10 0.2s linear alternate;
  width: var(--level-10);
}
@keyframes level-10 {
  0% {
    width: var(--start);
  }
  100% {
    width: var(--level-10);
  }
} */
/* skill bar end */

/* language competences end */

/* ABOUT END */

/* ASSETS START */
#success dotlottie-player {
  width: 6.25rem;
}
#success h1,
#error h1 {
  font-size: var(--fontsize-2);
  font-weight: var(--paragraph-weight);
}
/* ASSETS END */

/* CYBER-SECURITY START */
.btn-area input {
  position: relative;
  font-size: var(--fontsize-2);
  height: 2.2rem;
  border: none;
  margin: 0.3rem 0 0;
  background: 0;
  outline: 0;
  padding: 0.6rem;
  letter-spacing: var(--letter-spacing);
  box-sizing: border-box;
  color: var(--black-color);
  background-color: var(--text-color);
  text-align: center;
}
#cyber-security img {
  background: var(--white-color);
}
#cyber-security #btn:before {
  content: "generate & copy password";
}
#cyber-security #btn.clicked:before {
  content: "copied!";
}
#screwdriver-wrench {
  fill: var(--text-color);
  width: 13px;
  padding: 0 0 2px;
}
.password-calculator {
  width: 100%;
  height: 730px;
  filter: saturate(0);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: 0;
}
.password-calculator:hover {
  filter: saturate(100%);
  transition: var(--transition);
}
#cyber-security .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.tfaCode {
  text-align: center;
}
#cyber-security .grid-container p {
  color: var(--primary-color);
  font-size: 2rem;
  display: inline;
  font-weight: var(--heading-weight);
}
/* CYBER-SECURITY END */

/* EXPO START */
#expo-in-kolding .grid-container {
  display: grid;
  grid-template-rows: 50% 50%;
}
#expo-in-kolding .grid-item p {
  padding-left: 4px;
  line-height: 1.5rem;
}

/* expo banner start */
.banner-container {
  position: absolute;
  top: 5vh;
  width: 100%;
  z-index: 3;
  animation: 1.5s fade;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: forwards;
  animation-play-state: running;
  background-color: var(--white-color);
}
@keyframes fade {
  0% {
    top: -5%;
  }
  70% {
    top: -5%;
  }
  100% {
    top: 5%;
    background-color: var(--text-color);
  }
}
.banner-container h3 {
  font-size: var(--fontsize-2);
  text-align: center;
  padding: 16px;
}
/* expo banner end */
/* EXPO END */

/* MEDIA QUERRIES START */
@media only screen and (min-width: 340px) {
  #about .grid-container,
  #expo-in-kolding .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #about .grid-item:nth-child(1),
  #expo-in-kolding .grid-item:nth-child(1) {
    margin-right: 30px;
  }
  #about .grid-item:nth-child(2),
  #expo-in-kolding .grid-item:nth-child(2) {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 415px) {
  h2 {
    font-size: var(--fontsize-3);
  }
  .btn-shadow {
    top: -43px;
  }
  .btn-area #btn,
  .btn-area #btn:after,
  .btn-area input,
  .btn-shadow {
    width: 288px;
  }
  #works .intro-section {
    background-image: url(/img/photos/41.webp);
  }
  #about .languages {
    height: 15px;
  }
  .btn-area #btn,
  .btn-area #btn:after,
  .btn-shadow {
    height: 3rem;
    font-size: var(--fontsize-1);
  }
  #cyber-security .password-calculator {
    filter: saturate(100%);
  }
  #cyber-security .btn-area input {
    font-size: var(--fontsize-1);
  }
  #cyber-security .btn-area input::placeholder {
    font-size: var(--fontsize-1);
  }
}
@media only screen and (max-width: 460px) {
  #cyber-security .grid-container p {
    font-size: 0.9rem;
    display: inline;
  }
}
@media only screen and (min-width: 500px) {
  #about .grid-item:nth-child(1) {
    margin-right: 3rem;
  }
  #about .grid-item:nth-child(2) {
    margin-left: 3rem;
  }
  #expo-in-kolding .grid-container fieldset {
    height: 10rem;
  }
}
@media only screen and (max-width: 500px) {
  .hide {
    display: none;
  }
}
@media (max-width: 560px) {
  .v-stretch,
  .vv-stretch {
    grid-row: span 1;
  }
  .h-stretch,
  .hh-stretch {
    grid-column: span 1;
  }
  .hhh-stretch {
    grid-column: span 2;
    grid-row: span 1;
  }
  #works .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 150px);
  }
}
@media only screen and (max-width: 667px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  #cyber-security .grid-container p {
    font-size: var(--fontsize-3);
    display: inline;
  }
}
@media only screen and (max-width: 900px) {
  .nav-menu {
    background-color: hsl(0, 0, 10%);
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
    left: 100%;
    position: fixed;
    top: 0;
    opacity: 100%;
    transition: var(--transition);
    width: 100%;
  }
  .nav-menu.active {
    display: flex;
    align-items: flex-end;
    padding: var(--menu-padding);
    left: 0;
    z-index: 9;
  }
  .nav-item {
    font-size: var(--fontsize-2);
    margin: 1rem 0;
    opacity: 100%;
  }
  .hamburger {
    cursor: pointer;
    display: block;
    z-index: 9;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
  }
  header {
    padding: var(--menu-padding);
  }
  main.blur,
  footer.blur,
  aside.blur {
    filter: blur(1.5rem);
    -webkit-filter: blur(1.5rem);
  }
  .progress-bar.hide {
    display: none;
  }
}
@media only screen and (max-width: 947px) {
  main {
    padding: 3rem 1.25rem;
  }
  #works hr {
    padding: 0 7.5rem;
  }
  #works main {
    padding: 0;
  }
}
/* MEDIA QUERRIES END */
