ErrorDocument 404 /404.php

RewriteEngine on

# Handle language URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/(.*)$ $2?lang=$1 [L,QSA]

# Check for file in directory with .php extension
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

DirectoryIndex /index.php
