# Page not found / 404 set-up

ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
ErrorDocument 403 /404.php

# Default index
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# Redirect URLs with ?lang=en to /en/
RewriteCond %{QUERY_STRING} ^lang=([^&]+)$ [NC]
RewriteRule ^$ /%1/? [R=301,L]

# Rewrite /en/ to ?lang=en
RewriteRule ^([a-z]{2})/$ /?lang=$1 [QSA,L]

# add .php extension 
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

