ErrorDocument 404 /404

RewriteEngine on
RewriteBase /

# Redirect to 404 if query strings are used
RewriteCond %{THE_REQUEST} \?[^\ ]+
RewriteRule .? /404 [L,R=301]

# Remove language value from old URLs and redirect
RewriteRule ^([a-z]{2})/(.*)$ /$2 [R=301,L]

# Check for file in directory with .php extension
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirect slavicmedia.dk to slavic.media
RewriteCond %{HTTP_HOST} ^slavicmedia\.dk$ [NC]
RewriteRule ^(.*)$ https://slavic.media/$1 [R=301,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

DirectoryIndex index.php

