*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }

.footer-icons{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
footer{
    width: 224px;
    margin: 0 auto;
}
h6{
    text-align: center;
}
.fa-unity, .fa-flickr, .fa-github{
    color: #0070C9;
}
.fa-unity:hover, .fa-flickr:hover, .fa-github:hover{
    color: purple;
    transition: all 0.3s ease-in-out;
}