/* ========== global ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bookmania, serif;
}

/* ========== /global ========== */

/* ========== header ========== */

.desktopLogo {
  display: inline-flex;
  flex-direction: column;
}
.zebra-designAnimation {
  width: 100%;
}
header {
  border-top: 15px solid black;
}
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 20px 0 20px;
}
nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  font-size: 24px;
  background-color: black;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 30%;
}
nav ul a {
  color: white;
  transition: all 0.3s ease-in-out;
}
nav ul a:hover {
  color: gray;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
nav ul li {
  padding: 0 50px 0 50px;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  color: black;
}
.mobileLogo {
  display: none;
}
.desktopLogo,
.mobileLogo {
  margin: 30px 15px 15px 15px;
}
.desktopLogo img,
.mobileLogo img {
  max-width: 200px;
}
.slogan {
  font-family: gothic-open-shaded, sans-serif;
  margin: 30px 15px 15px 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile {
  display: none;
}
nav div {
  display: flex;
  justify-content: center;
  text-align: center;
}
.icon {
  display: none;
}
.wrapper,
hr {
  max-width: 100%;
  width: 37.5rem;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* ========== /header ========== */

/* ========== footer ========== */

footer {
  background-image: url("../img/footer.png");
  background-size: contain;
  color: white;
  text-align: center;
  margin-top: 100px;
  transition: all 0.3s;
}
footer ul {
  list-style-type: none;
}
footer a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
footer a:hover {
  color: gray;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 200px 20px 50px 20px;
  font-size: 16px;
}
.footerGrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerGrid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}
.footerGrid1 li {
  margin: 10px;
}
.footerGrid2 {
  text-align: center;
  font-size: 20px;
}
.footerGrid2 li {
  margin: 10px;
}
.footerGrid3 {
  text-align: right;
  flex-direction: column;
}
.footerGrid3 li {
  margin: 10px;
}
.socialMedia {
  display: flex;
}
.fa.fa-twitter,
.fa.fa-facebook,
.fa.fa-linkedin,
.fa.fa-instagram,
.fa.fa-phone,
.fa.fa-envelope,
.fa.fa-sitemap {
  font-size: 20px !important;
  transition: all 0.3s;
}
.fa.fa-twitter:hover,
.fa.fa-facebook:hover,
.fa.fa-linkedin:hover,
.fa.fa-instagram:hover,
.fa.fa-phone:hover,
.fa.fa-envelope:hover,
.fa.fa-map-marker:hover,
.fa.fa-sitemap:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
  color: gray;
  transition: all 0.3s ease-in-out;
}
.fa.fa-phone,
.fa.fa-envelope,
.fa.fa-sitemap {
  margin: 0 10px 0 10px;
}
.fa.fa-map-marker {
  margin: 0 20px 0 20px;
  font-size: 40px !important;
  transition: all 0.3s;
}
.policiesCopyrightsConditions {
  padding: 30px;
  color: gray;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.policiesCopyrightsConditions a {
  color: gray;
}
.policiesCopyrightsConditions a:hover {
  color: white;
  text-decoration: underline;
}
.policiesCopyrightsConditions ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.policiesCopyrightsConditions li {
  margin: 0 100px 0 100px;
}
#privacyPolicy {
  text-align: left;
}
#copyrights {
  text-align: center;
  font-size: 14px;
}
#termsAndConditions {
  text-align: right;
}
#copyrightsMobile {
  display: none;
}
/* ========== /footer ========== */

/* ========== privacy policy ========== */

.privacyPolicyInfo h1,
.termsAndConditionsInfo h1 {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 48px;
  text-align: center;
  padding: 30px;
}
.privacyPolicyInfo h2,
.termsAndConditionsInfo h2 {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}
.privacyPolicyInfo h3,
.termsAndConditionsInfo h3 {
  margin: 30px;
  font-size: 26px;
}
.privacyPolicyInfo p,
.termsAndConditionsInfo p {
  margin: 30px;
  font-size: 20px;
}
.privacyPolicyInfo ul,
.termsAndConditionsInfo ul {
  margin: 30px;
}
.privacyPolicyInfo ul li,
.termsAndConditionsInfo ul li {
  margin: 20px;
  font-size: 20px;
}
.privacyPolicyInfo,
.termsAndConditionsInfo {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.privacyPolicyInfo a,
.termsAndConditionsInfo a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.privacyPolicyInfo a:hover,
.termsAndConditionsInfo a:hover {
  color: gray;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

/* ========== /privacy policy ========== */

/* ========== about page ========== */
.aboutVideo {
  position: relative;
  width: 90%;
  overflow: hidden;
  padding-top: 50%;
  margin: 0 35px 30px 35px;
}
.aboutVideo iframe {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutTitle {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 48px;
  text-align: center;
  padding: 30px;
}
.aboutCards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutCardsInnerTitle {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 36px;
  padding: 10px;
}
.aboutCards img {
  min-width: 100%;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.aboutCardsInner ul {
  list-style-type: none;
  padding: 10px;
  font-size: 24px;
}
.aboutCardsInner ul li a {
  text-decoration: none;
  color: black;
}
.aboutCardsInner ul li a:hover {
  color: gray;
  text-decoration: underline;
}
.aboutCardsInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutCardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 20%);
  justify-content: center;
  padding: 30px;
  grid-gap: 20px;
}
.aboutCardsProffesion {
  font-weight: bold;
  padding: 10px 0 20px 0;
}

/* ========== /about page ========== */

/* ========== services page ========== */

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.servicesIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.servicesIntro h1 {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 38px;
  text-align: center;
  padding: 20px;
}
.servicesIntro p {
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
}
.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 50px;
  justify-content: center;
  margin: 20px;
}
.servicesGrid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.servicesGrid h2 {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 28px;
  text-align: left;
  padding: 15px 20px 20px 20px;
}
.servicesGrid p {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 0 20px 20px 20px;
}
.servicesGrid img {
  max-width: 150px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}
.servicesGrid img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}
.servicesOfferForm {
  display: flex;
  flex-direction: column;
}
.servicesOfferTitle2 {
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
}
.servicesOfferGrid1 {
  display: grid;
  grid-template-columns: repeat(2, 20%);
  grid-gap: 30px;
  justify-content: center;
}
.servicesOfferTitle1 {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 50px 20px 20px 20px;
}
.servicesOfferGrid1 > input {
  background-color: #e4e4e4;
  font-size: 20px;
  border: 0;
  padding: 5px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.servicesOfferLabel {
  font-weight: 700;
  font-size: 20px;
}
input[type="checkbox"] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  margin: 20px;
}
.servicesOfferGrid2 {
  display: grid;
  grid-template-columns: repeat(2, 21%);
  justify-content: center;
  align-items: center;
  text-align: left;
}
.servicesOfferTextarea {
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 42%;
  height: 200px;
  margin: 20px auto;
  font-size: 20px;
  border: 0;
  padding: 5px;
  font-weight: 600;
}
.servicesButton {
  text-decoration: none;
}
.submitButton,
.servicesButton {
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 35%;
  margin: 10px auto;
  padding: 10px;
  font-family: gothic-open-shaded, sans-serif;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  color: black;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.submitButton:hover,
.servicesButton:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

/* ========== /services page ========== */

/* ========== home page ========== */

.indexAnimation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indexAnimation img {
  max-width: 50%;
}
.indexAnimation p {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 38px;
  text-align: center;
  padding: 20px;
}
.slideshowContainer {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.slide1,
.slide2,
.slide3 {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot1,
.dot2,
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: black;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.indexGrid {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  justify-content: center;
  margin: 100px auto;
  column-gap: 30px;
}
.indexGridInfo {
  display: flex;
  flex-direction: column;
}
.indexGridInfo a {
  color: black;
  transition: all 0.3s ease-in-out;
}
.indexGridInfo a:hover {
  color: gray;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
.indexGridInfo h2 {
  font-family: gothic-open-shaded, sans-serif;
  font-size: 48px;
  padding: 20px;
}
.indexGridInfo p {
  font-size: 24px;
  padding: 0 20px 20px 20px;
}

/* ========== /home page ========== */

/* ========== media queries ========== */

@media screen and (max-width: 1700px) {
  .aboutCardsGrid {
    grid-template-columns: repeat(2, 30%);
  }
}
@media screen and (max-width: 1520px) {
  h1 {
    font-size: 50px;
  }
  footer {
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 1500px) {
  .servicesOfferGrid1 {
    grid-template-columns: repeat(2, 35%);
  }
  .servicesOfferGrid2 {
    grid-template-columns: repeat(2, 37%);
  }
  .servicesOfferTextarea {
    width: 72%;
  }
  .indexGrid {
    grid-template-columns: repeat(2, 35%);
  }
}
@media screen and (max-width: 1200px) {
  .indexGrid {
    grid-template-columns: repeat(2, 40%);
  }
}
@media screen and (max-width: 1150px) {
  .aboutCardsGrid {
    grid-template-columns: repeat(2, 40%);
  }
}
@media screen and (max-width: 1050px) {
  .indexGrid {
    grid-template-columns: repeat(2, 45%);
  }
  nav div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    text-align: center;
  }
  .slogan {
    display: none;
  }
  .mobileLogo {
    display: inline-flex;
    margin: 30px 35px 15px 35px;
  }
  .navLinks {
    height: 30%;
  }
  .desktopLogo {
    display: none;
  }
  nav {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10px 0 10px;
  }
  nav .icon {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 999;
    display: flex;
    background-color: black;
    color: white;
    border-bottom-left-radius: 14px;
    font-size: 30px !important;
  }
  #burgerIcon {
    padding: 5px 30px 20px 30px;
  }
  nav ul {
    display: none;
    height: 150%;
    width: 100%;
    border-radius: 0;
  }
  nav {
    padding: 0;
  }
  .indexAnimation img {
    max-width: 70%;
  }
}
@media screen and (max-width: 950px) {
  .indexGrid {
    grid-template-columns: repeat(1, 45%);
  }
  .indexGridInfo h2 {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  footer {
    background-image: url("../img/footer_mobile.png");
  }
  .footerGrid {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 150px;
  }
  .footerGrid1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footerGrid3 {
    text-align: center;
  }
  .policiesCopyrightsConditions ul {
    grid-template-columns: repeat(1, 1fr);
  }
  #privacyPolicy {
    text-align: center;
  }
  #termsAndConditions {
    text-align: center;
  }
  .policiesCopyrightsConditions li,
  .footerGrid1 li,
  .footerGrid2 li,
  .footerGrid3 li {
    margin: 5px;
  }
  .footerGrid1,
  .footerGrid2,
  .footerGrid3 {
    margin: 10px;
  }
  #copyrights {
    display: none;
  }
  #copyrightsMobile {
    display: flex;
  }
}
@media screen and (max-width: 880px) {
  .aboutCardsGrid {
    grid-template-columns: repeat(1, 50%);
  }
  .aboutCardsInner {
    align-items: center;
  }
  .aboutCardsInnerTitle {
    text-align: center;
  }
  .aboutCardsProffesion {
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  .servicesOfferGrid1 {
    grid-template-columns: repeat(1, 50%);
  }
  .submitButton {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .privacyPolicyInfo,
  .termsAndConditionsInfo {
    width: 700px;
    margin: 0 auto;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}
@media screen and (max-width: 750px) {
  .indexGrid {
    grid-template-columns: repeat(1, 70%);
  }
  .indexGridInfo h2 {
    font-size: 38px;
  }
  .indexGridInfo p {
    font-size: 20px;
  }
  nav ul li {
    padding: 0 20px 0 20px;
  }
  .desktopLogo img,
  .mobileLogo img {
    max-width: 160px;
  }
  .servicesIntro {
    width: 65%;
  }
  .servicesIntro h1 {
    font-size: 32px;
  }
  .servicesOfferGrid2 {
    grid-template-columns: repeat(2, 35%);
  }
  .indexAnimation img {
    max-width: 85%;
  }
  .servicesIntro p,
  .servicesOfferTitle2,
  .submitButton {
    font-size: 22px;
  }
  .servicesGrid {
    grid-template-columns: repeat(2, 45%);
  }
  .servicesGrid h2 {
    font-size: 24px;
  }
  .servicesOfferTitle1 {
    font-size: 30px;
  }
  .servicesOfferGrid1 > input {
    font-size: 18px;
  }
}
@media screen and (max-width: 630px) {
  .aboutCardsGrid {
    grid-template-columns: repeat(1, 70%);
  }
}
@media screen and (max-width: 560px) {
  .servicesOfferGrid2 {
    grid-template-columns: repeat(1, 50%);
  }
}
@media screen and (max-width: 550px) {
  .privacyPolicyInfo h1,
  .termsAndConditionsInfo h1 {
    font-size: 36px;
  }
  .privacyPolicyInfo h2,
  .termsAndConditionsInfo h2 {
    font-size: 24px;
  }
  .privacyPolicyInfo h3,
  .termsAndConditionsInfo h3 {
    font-size: 20px;
  }
  .privacyPolicyInfo p,
  .termsAndConditionsInfo p,
  .privacyPolicyInfo ul li,
  .termsAndConditionsInfo ul li {
    font-size: 18px;
  }
  nav ul li {
    padding: 0 20px 0 20px;
  }
  nav ul {
    flex-direction: column;
    height: 110%;
  }
  .desktopLogo img,
  .mobileLogo img {
    max-width: 150px;
  }
  .aboutTitle {
    font-size: 36px;
  }
  .aboutCardsInnerTitle {
    font-size: 30px;
  }
  .aboutCardsInner ul {
    font-size: 20px;
  }
  .servicesIntro {
    width: 80%;
  }
  .servicesGrid {
    grid-template-columns: repeat(1, 80%);
  }
  .servicesOfferGrid1 {
    grid-template-columns: repeat(1, 80%);
  }
  .servicesOfferTextarea {
    width: 80%;
  }
  .submitButton {
    width: 75%;
  }
  .indexAnimation img {
    max-width: 95%;
  }
}
@media screen and (max-width: 500px) {
  .indexGrid {
    grid-template-columns: repeat(1, 90%);
  }
}
@media screen and (max-width: 470px) {
  .aboutCardsGrid {
    grid-template-columns: repeat(1, 80%);
  }
}
@media screen and (max-width: 420px) {
  .aboutCardsGrid {
    padding: 0;
    grid-gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .servicesOfferGrid2 {
    grid-template-columns: repeat(1, 70%);
  }
}

@media only screen and (max-width: 947px) {
  .wrapper {
    padding: 0 1.25rem 1rem 1.25rem;
  }
}
/* ========== /media queries ========== */
