*{
    box-sizing: border-box;
    margin: 0;
}
body{
  font-family: new-order, sans-serif;
  font-style: normal;
  max-width: 100vw;
  background-color: #DDDDDD;
  }
  main{
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      padding-top: 2rem;
  }
  h2{
  font-family: new-order, sans-serif;
  font-weight: 900;   
  font-size: 130% ;
  }
  h3{
      font-family: new-order, sans-serif;
      font-weight: 900;
  }
  h4{
      font-family: new-order, sans-serif;
      font-weight: 900;
  }
  a.terms{
    text-decoration: underline;
  }
  a.terms:hover{
    color: #482ff7;
    transition: all 0.3s ease-in-out;
  }
  input#termconditions{
    min-height: 10px;
    margin-top: 0;
    width: 10%;
    }
p.agreement{
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  font-size: 12px;
}
/* MENU START */
.nav-item{
  list-style: none;
}
a {
  text-decoration: none;
}
.header{
  height: 9vh;
  background-color: #2A3047;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
  margin-right: -1rem;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link{
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
}
.nav-link:hover{
  color: #482ff7;
  transition: all 0.3s ease-in-out;
}
.nav-link2:hover{
  color: #482ff7;
  transition: all 0.3s ease-in-out;
}
.nav-logo{
  margin-left: -1.3rem;
}
.logos{
  width: 163px;
  height: 38px;
  background-image: url(../img/logo.white.png);
  margin-left: -1.2rem;
}
.logos:hover{
  background-image: url(../img/logo.blue.png);
  transition: all 0.3s ease-in-out;
}

  /* MENU QUERRIES START */
  @media only screen and (max-width: 768px){
      .nav-menu {
          position: fixed;
          left: 100%;
          top: 0rem;
          flex-direction: column;
          align-items: flex-end;
          background-color: black;
          opacity: 70%;
          width: 100%;
          text-align: center;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          padding: 0;
          padding-bottom: 40rem;
      }
      .nav-menu.active {
          left: 0;
          z-index: 999;
          padding-top: 10rem;
      }
      .nav-item {
          margin: 2.5rem ;
      }
      .hamburger {
          display: block;
          cursor: pointer;
          z-index: 999999;
      }
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);  
      }
      .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }
      .nav-link{
          top: 10rem;
          color: white;
      }
      .bar{
          color: white;
      }
  }
  /* MENU QUERRIES END */
/* MENU END */

/* PAYMENT START */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
.button {
    color: #ffffff;
    background-color: #24cf5f;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s;
  }
.button:hover, .button:active, .button:focus {
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
        }
  
.button--transparent {
    background: transparent;
    border: 0;
    outline: 0;
  }
  .button--info {
    position: absolute;
    top: 0;
    right: 0;
  }
  input {
    width: calc(100% - 10px);
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 2px solid #f0f0f0;
  }
input:valid {
    border-color: #24cf5f;
    }
input:focus {
    outline: none;
    border-color: #fbcf34;
    }
.form-list {
    padding-left: 0;
    list-style: none;
  }
.form-list__row {
    margin-bottom: 25px;
  }
.form-list__row label {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: .5px;
  color: #939393;
}
.form-list__row--inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  }
.form-list__row--inline > :first-child {
  -ms-flex: 2;
  flex: 2;
  padding-right: 20px;
}
.form-list__row--inline > :nth-child(2n) {
  -ms-flex: 1;
  flex: 1;
}
.form-list__input-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form-list__input-inline > * {
  width: calc(50% - 10px - 10px);
}

#input--cc {
  position: relative;
  padding-top: 6px;
}
#input--cc input {
  padding-left: 46px;
  width: calc(100% - 46px);
}
#input--cc:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 36px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.modal {
  display: -ms-flexbox;
   display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70vh;
  z-index: 100; 
  }
.modal__container {
  display: -ms-flexbox;
  margin-top: 10rem;
  display: flex;
  max-width: 675px;
  min-height: 400px;
  margin-bottom: 125px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }

.modal__content {
  -ms-flex: 3;
  flex: 3;
  padding: 40px 30px; }
/* PAYMENT END */

/* FOOTER START */
footer {
  background-color: #2A3047;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  padding: 15px;
  margin-top: 5rem;
  max-width: 100%;
}
footer a {
  text-decoration: none;
  color: rgb(195, 199, 204);
  text-transform: uppercase;
}
.socialmedia {
  padding: 10px;
}
.fa-facebook-f {
  padding: 0 10px;
}
.links {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}
p.copyright{
  color: rgb(195, 199, 204);
  font-size: 10px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  max-width: none;
}
/* FOOTER END */

/* GENERAL QUERRIES START */
@media screen and (min-width: 780px){
    .wrapper{
        width: 780px;
        margin: 0 auto;
    }
    .modal__featured {
      position: relative;
      -ms-flex: 1;
          flex: 1;
      max-width: 40rem;
      padding: 20px;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    } 
}
@media screen and (min-width: 1024px){
  .wrapper{
    width: 1024px;
    margin: 0 auto;
}
}
/* GENERAL QUERRIES END */