*{box-sizing:border-box;margin:0;scroll-behavior:smooth}
img{max-width:100%}
body{background-color:#ddd;font-family:new-order,sans-serif;font-style:normal;overflow-x:hidden}
.wrapper{max-width:100%;width:37.5rem}
main{align-items:center;display:flex;flex-direction:column}
h1{display:flex;justify-content:center;padding-bottom:15px;padding-top:10px;text-transform:uppercase}
h2{display:flex;font-size:24px;justify-content:center;padding-bottom:15px}
h3{display:flex;font-size:24px;justify-content:center;padding-bottom:15px}
section{padding:20px}
main section p{font-size:15px;margin:15px;padding-bottom:10px}
.info{display:flex;justify-content:center}
.infolink{color:#000;text-decoration:underline}
.infolink:hover{color:#482ff7;transition:all .3s ease-in-out}
.quote{display:flex;justify-content:center}
.nav-item{list-style:none}
a{text-decoration:none}
.header{align-items:center;background-image:url(img/adrian-ra-4_IebpOuxJA-unsplash.jpg);background-position:center;background-size:cover;flex-direction:column;height:88vh;justify-content:center;padding:0 20px;text-align:center}
.navbar{align-items:center;display:flex;justify-content:space-between;padding:1rem 1.5rem}
.hamburger{display:none;margin-right:-1rem}
.bar{background-color:#000;display:block;height:3px;margin:5px auto;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;width:25px}
.nav-menu{align-items:center;display:flex;justify-content:space-between}
.nav-item{margin-left:5rem}
.nav-link{color:#000;font-size:1.4rem;font-weight:400}
.nav-link:hover{color:#482ff7;transition:all .3s ease-in-out}
.nav-link2:hover{color:#482ff7;transition:all .3s ease-in-out}
.nav-logo{margin-left:-1.3rem}
.logos{background-image:url(img/logo.png);height:38px;margin-left:-1.2rem;width:163px}
.logos:hover{background-image:url(img/logo.blue.png);transition:all .3s ease-in-out}
@media only screen and (max-width:768px){
.nav-menu{align-items:flex-end;background-color:#fff;box-shadow:0 10px 27px rgba(0,0,0,.05);flex-direction:column;left:100%;opacity:70%;padding:0;padding-bottom:40rem;position:fixed;text-align:center;top:0rem;transition:.3s;width:100%}
.nav-menu.active{left:0;padding-top:10rem;z-index:999}
.nav-item{margin:2.5rem}
.hamburger{cursor:pointer;display:block;z-index:999999}
.hamburger.active .bar:nth-child(2){opacity:0}
.hamburger.active .bar:nth-child(1){transform:translateY(8px) rotate(45deg)}
.hamburger.active .bar:nth-child(3){transform:translateY(-8px) rotate(-45deg)}
.nav-link{color:#000;top:10rem}
.bar{color:#000}
}
footer{background-color:#2a3047;display:flex;flex-direction:column;justify-items:center;margin-top:5rem;max-width:100%;padding:15px;text-align:center}
footer a{color:#c3c7cc;text-decoration:none;text-transform:uppercase}
.socialmedia{padding:10px}
.fa-facebook-f{padding:0 10px}
.links{display:flex;flex-direction:column;justify-content:center;padding:15px}
p.copyright{color:#c3c7cc;font-size:10px;max-width:none;padding-bottom:1rem;padding-top:2rem}
@media only screen and (max-width:947px){
wrapper{padding:0 1.25rem 1rem 1.25rem}
}