*{
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    font-family: new-order, sans-serif;
    font-style: normal;
    max-width: 100vw;
    background-color: #DDDDDD;
}
main{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 2rem;
}
.nav-logo{
    max-height: 10%;
    max-width: 11%;
}

h2{
    font-weight: 900;   
}
h3{
    font-weight: 900;
}
h4{
    font-weight: 900;
}

.nav-item{
    list-style: none;
    margin-left: 5rem;
}
a {
    text-decoration: none;
}
.header{
    position: relative;
    background-image: url(../img/_MG_0188.jpg);
    background-position: center;
    background-size: cover; 
    height: 88vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    
    
}
.hamburger {
    display: none;
    
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}
.nav-link{
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
}
.nav-link:hover{
    color: #482ff7;
    transition: all 0.3s ease-in-out;
}
.nav-link2:hover{
    color: #482ff7;
    transition: all 0.3s ease-in-out;
}
.nav-logo{
    margin-left: -1.3rem;
}
.logos{
    width: 163px;
    height: 38px;
    background-image: url(../img/logo.png);
    margin-left: -1.2rem;
}
.logos:hover{
    background-image: url(../img/logo.blue.png);
    transition: all 0.3s ease-in-out;
}
section h2,h3{
    margin-left: 25%;
}
section p{
    display: block;
    margin-top: 15px;
    justify-content: left;
    margin-left: 25%;
  
    
}
button{
    font-size: 18px;
    background-color: #24cf5f;
    margin-left: 29%;
    margin-top: 50px;
    margin-bottom: 35px;
    border: #24cf5f 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
button a{
    color: white;
}
div ul{
    list-style-type: none;
    text-align: center;
    margin-top: 25px;
    margin-left: -8%;
    margin-bottom: 7%;
    padding-top: 20px;

}



@media only screen and (max-width: 768px){
.art img, .art li,hr,table{
    display: none;
}
.nav-menu {
    position: fixed;
    left: 100%;
    top: 0rem;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    opacity: 70%;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0;
    padding-bottom: 40rem;

    }
.nav-menu.active {
    left: 0;
    z-index: 999;
    padding-top: 10rem;  
    }
.nav-item {
    margin: 2.5rem 0;
    }
.hamburger {
    display: block;
    cursor: pointer;
    z-index: 999999;  
    }
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }
.nav-link{
    color: black;
    }
.bar{
    color: black;
    }
}
/* MENU END */

/* FOOTER START */
footer {
    background-color: #2A3047;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 15px;
    margin-top: 5rem;
    max-width: 100%;
}
footer a {
    text-decoration: none;
    color: rgb(195, 199, 204);
    text-transform: uppercase;
}
.socialmedia {
    padding: 10px;
}
.fa-facebook-f {
    padding: 0 10px;
}
.links {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}
p.copyright{
    color: rgb(195, 199, 204);
    font-size: 10px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    max-width: none;
}
/* FOOTER END */

/* QUERRIES START */
@media only screen and (min-width: 768px){
body{
    max-width: 100vw;
    }
main{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 2rem;   
    }
.wrapper{
    width: 700px;
    margin: 0 auto;  
    }
.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    top: 0%;
    width: 100%;      
    }
.nav-logo{
    max-height: 4%;
    max-width: 4%;
        }    
.art img{
    position: relative;
    height: 40%;
    width: 40%;
    margin-left: 55%;
    margin-top: -90%;       
    }
.art{
    display: inline-block;
    white-space: nowrap;
    list-style-type: none;
    }

section{
        margin-left: -30%;
    }
    section p{
        display: flex;
        margin-top: 15px;
        justify-content: center;
        margin-left: 1%;
    }
    
button{
    margin-left: 64.5%;
    margin-top: 10%;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #24cf5f;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 10px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border: #24cf5f 1px solid;
    padding: 10px 71px ;  
      
    }
button a{
    color: white;
    }

div li{
        list-style-type: none;
        margin-top: 20px;
        margin-right: 60%;
    
    }
.art{
        display: inline-block;
        white-space: nowrap;
        list-style-type: none;
        
      
    }


table{
    margin-left: 55%;
    margin-top: 0%;
    border-spacing: 5em;

}
hr{
    margin-left: 55%;
    margin-right:5% ;
   
}

section h2{
    margin-left: 46%;
}
h3{
    margin-left: 48%;}

    }